Repository allure-framework/allure-java, pull requests merged in 2021-03, with the labels that each got.

#511 Improve build workflow
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/labels-verify.yml
Labels: theme:workflow, type:enhancement

#524 Update labeler configuration
  .github/labeler.yml
Labels: theme:workflow, type:internal

#502 [httpclient] Don't consume HTTP responses
  allure-httpclient/src/main/java/io/qameta/allure/httpclient/AllureHttpClientResponse.java
  allure-httpclient/src/test/java/io/qameta/allure/httpclient/AllureHttpClientTest.java
Labels: theme:httpclient, type:bug

#537 Add support for inherited annotations
  allure-java-commons/src/main/java/io/qameta/allure/util/AnnotationUtils.java
  allure-java-commons/src/test/java/io/qameta/allure/util/AnnotationUtilsTest.java
  allure-testng/src/test/java/io/qameta/allure/testng/AllureTestNgTest.java
Labels: theme:core, theme:testng, type:new feature

#538 Bump gradle
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: theme:build, type:dependencies

#539 Bump cucumberjvm deps
  allure-cucumber-jvm/build.gradle.kts
  allure-cucumber-jvm/src/test/java/io/qameta/allure/cucumberjvm/AllureCucumberJvmTest.java
  allure-cucumber4-jvm/build.gradle.kts
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/AllureCucumber4JvmTest.java
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/samples/HookSteps.java
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/samples/SimpleFeatureSteps.java
  allure-cucumber5-jvm/build.gradle.kts
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/AllureCucumber5JvmTest.java
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/samples/HookSteps.java
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/samples/SimpleFeatureSteps.java
  allure-cucumber6-jvm/build.gradle.kts
  allure-cucumber6-jvm/src/main/java/io/qameta/allure/cucumber6jvm/AllureCucumber6Jvm.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/AllureCucumber6JvmTest.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/samples/HookSteps.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/samples/SimpleFeatureSteps.java
Labels: theme:build, theme:cucumber-jvm, type:dependencies
