Repository allure-framework/allure-java, pull requests merged in 2021-11, with the labels that each got.

#674 Add support for provided labels for CucumberJVM integrations
  allure-cucumber-jvm/src/main/java/io/qameta/allure/cucumberjvm/LabelBuilder.java
  allure-cucumber-jvm/src/test/java/io/qameta/allure/cucumberjvm/AllureCucumberJvmTest.java
  allure-cucumber2-jvm/src/main/java/io/qameta/allure/cucumber2jvm/LabelBuilder.java
  allure-cucumber2-jvm/src/test/java/io/qameta/allure/cucumber2jvm/AllureCucumber2JvmTest.java
  allure-cucumber3-jvm/src/main/java/io/qameta/allure/cucumber3jvm/LabelBuilder.java
  allure-cucumber3-jvm/src/test/java/io/qameta/allure/cucumber3jvm/AllureCucumber3JvmTest.java
  allure-cucumber4-jvm/src/main/java/io/qameta/allure/cucumber4jvm/LabelBuilder.java
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/AllureCucumber4JvmTest.java
  allure-cucumber5-jvm/src/main/java/io/qameta/allure/cucumber5jvm/LabelBuilder.java
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/AllureCucumber5JvmTest.java
  allure-cucumber6-jvm/src/main/java/io/qameta/allure/cucumber6jvm/LabelBuilder.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/AllureCucumber6JvmTest.java
Labels: type:improvement, theme:cucumber-jvm

#679 Always setting RestAssured response attachment name to response status line if default responseAttachmentName is null
  allure-rest-assured/src/main/java/io/qameta/allure/restassured/AllureRestAssured.java
  allure-rest-assured/src/test/java/io/qameta/allure/restassured/AllureRestAssuredTest.java
Labels: type:bug, theme:rest-assured

#683 Add support for Cucumber 7
  allure-cucumber7-jvm/build.gradle.kts
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/AllureCucumber7Jvm.java
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/LabelBuilder.java
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/TagParser.java
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/testsourcemodel/TestSourcesModel.java
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/testsourcemodel/TestSourcesModelProxy.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/AllureCucumber7JvmTest.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/AmbigiousSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/AttachmentSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/BackgroundFeatureSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/BrokenFeatureSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/DatatableFeatureSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/HookSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/PendingSteps.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/SimpleFeatureSteps.java
  allure-cucumber7-jvm/src/test/resources/allure.properties
  allure-cucumber7-jvm/src/test/resources/features/ambigious.feature
  allure-cucumber7-jvm/src/test/resources/features/attachments.feature
  allure-cucumber7-jvm/src/test/resources/features/background.feature
  allure-cucumber7-jvm/src/test/resources/features/broken.feature
  allure-cucumber7-jvm/src/test/resources/features/datatable.feature
  allure-cucumber7-jvm/src/test/resources/features/description.feature
  allure-cucumber7-jvm/src/test/resources/features/examples.feature
  allure-cucumber7-jvm/src/test/resources/features/failed.feature
  allure-cucumber7-jvm/src/test/resources/features/hooks.feature
  allure-cucumber7-jvm/src/test/resources/features/multi-examples.feature
  allure-cucumber7-jvm/src/test/resources/features/parallel.feature
  allure-cucumber7-jvm/src/test/resources/features/pending.feature
  allure-cucumber7-jvm/src/test/resources/features/scenario_description.feature
  allure-cucumber7-jvm/src/test/resources/features/simple.feature
  allure-cucumber7-jvm/src/test/resources/features/tags.feature
  allure-cucumber7-jvm/src/test/resources/features/undefined.feature
  build.gradle.kts
  settings.gradle.kts
Labels: type:new feature, theme:cucumber-jvm, theme:build

#687 Better support for junit5 parameterised tests
  allure-junit-platform/src/main/java/io/qameta/allure/junitplatform/AllureJunitPlatform.java
  allure-junit-platform/src/test/java/io/qameta/allure/junitplatform/AllureJunitPlatformTest.java
  allure-junit-platform/src/test/java/io/qameta/allure/junitplatform/features/ParameterisedTestsWithDisplayName.java
  allure-junit-platform/src/test/java/io/qameta/allure/junitplatform/features/ReportEntryParameter.java
  allure-junit5/src/main/java/io/qameta/allure/junit5/AllureJunit5.java
  allure-junit5/src/test/java/io/qameta/allure/junit5/AllureJunit5Test.java
  allure-junit5/src/test/java/io/qameta/allure/junit5/features/ParameterisedTests.java
  allure-junit5/src/test/java/io/qameta/allure/junit5/features/SkipOtherInjectables.java
  gradle/quality-configs/pmd/pmd.xml
Labels: type:improvement, theme:junit-platform, theme:build

#686 Fix reader deprecations
  allure-reader/src/main/java/io/qameta/allure/reader/AllureEnumDeserializer.java
  allure-reader/src/main/java/io/qameta/allure/reader/AllureObjectMapperFactory.java
  allure-reader/src/main/java/io/qameta/allure/reader/ParameterModeDeserializer.java
  allure-reader/src/main/java/io/qameta/allure/reader/StageDeserializer.java
  allure-reader/src/main/java/io/qameta/allure/reader/StatusDeserializer.java
Labels: type:improvement

#690 Add test case name model property
  allure-junit-platform/src/main/java/io/qameta/allure/junitplatform/AllureJunitPlatform.java
  allure-model/src/main/java/io/qameta/allure/model/TestResult.java
Labels: type:new feature, theme:junit-platform, theme:model
