Repository allure-framework/allure-java, pull requests merged in 2022-10, with the labels that each got.

#829 Awaitility support
  README.md
  allure-awaitility/build.gradle.kts
  allure-awaitility/readme.md
  allure-awaitility/src/main/java/io/qameta/allure/awaitility/AllureAwaitilityListener.java
  allure-awaitility/src/main/java/io/qameta/allure/awaitility/TemporalDuration.java
  allure-awaitility/src/test/java/io/qameta/allure/awaitility/ConditionListenersPositiveTest.java
  allure-awaitility/src/test/java/io/qameta/allure/awaitility/GlobalSettingsNegativeTest.java
  allure-awaitility/src/test/java/io/qameta/allure/awaitility/GlobalSettingsPositiveTest.java
  settings.gradle.kts
Labels: type:new feature, theme:build

#828 Bump cucumber-jvm 7 dependencies
  allure-cucumber7-jvm/build.gradle.kts
  allure-java-commons/src/main/java/io/qameta/allure/AllureLifecycle.java
  allure-java-commons/src/main/java/io/qameta/allure/internal/Allure2ModelJackson.java
Labels: theme:cucumber-jvm, type:dependencies, theme:core, theme:build

#837 Bump build dependencies
  allure-awaitility/src/main/java/io/qameta/allure/awaitility/AllureAwaitilityListener.java
  allure-java-commons/src/main/java/io/qameta/allure/Allure.java
  allure-java-commons/src/main/java/io/qameta/allure/listener/ContainerLifecycleListener.java
  allure-java-commons/src/main/java/io/qameta/allure/listener/FixtureLifecycleListener.java
  allure-java-commons/src/main/java/io/qameta/allure/listener/StepLifecycleListener.java
  allure-java-commons/src/main/java/io/qameta/allure/listener/TestLifecycleListener.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1Annotations.java
  allure-spock/build.gradle.kts
  build.gradle.kts
  gradle/quality-configs/checkstyle/checkstyle.xml
  gradle/quality-configs/pmd/pmd.xml
  gradle/quality-configs/spotbugs/exclude.xml
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: theme:spock, type:dependencies, theme:core, theme:build

#838 Add support for Spock 2
  allure-java-commons/src/main/java/io/qameta/allure/util/AnnotationUtils.java
  allure-java-commons/src/main/java/io/qameta/allure/util/ResultsUtils.java
  allure-junit-platform/src/main/java/io/qameta/allure/junitplatform/AllureJunitPlatform.java
  allure-spock2/build.gradle.kts
  allure-spock2/src/main/java/io/qameta/allure/spock2/AllureSpock2.java
  allure-spock2/src/main/java/io/qameta/allure/spock2/compiler/AllureStatementsLabelsToStepsTransformation.java
  allure-spock2/src/main/resources/META-INF/aop-ajc.xml
  allure-spock2/src/main/resources/META-INF/services/org.codehaus.groovy.transform.ASTTransformation
  allure-spock2/src/main/services/org.spockframework.runtime.extension.IGlobalExtension
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/AllureSpock2Test.java
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/BrokenTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/DataDrivenTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/FailedTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/JiraIssue.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/OneTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/ParametersTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/StepsAndBlocks.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/TestWithAnnotations.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/TestWithAnnotationsOnClass.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/TestWithCustomAnnotations.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/TestWithSteps.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/XrayId.groovy
  allure-spock2/src/test/resources/allure.properties
  settings.gradle.kts
Labels: type:new feature, theme:junit-platform, theme:core, theme:build
