Repository allure-framework/allure-java, pull requests merged in 2022-05, with the labels that each got.

#655 Added Interceptor for unary & server streaming gRPC calls
  README.md
  allure-grpc/build.gradle.kts
  allure-grpc/src/main/java/io/qameta/allure/grpc/AllureGrpc.java
  allure-grpc/src/main/java/io/qameta/allure/grpc/GrpcRequestAttachment.java
  allure-grpc/src/main/java/io/qameta/allure/grpc/GrpcResponseAttachment.java
  allure-grpc/src/main/resources/tpl/grpc-request.ftl
  allure-grpc/src/main/resources/tpl/grpc-response.ftl
  allure-grpc/src/test/java/io/qameta/allure/grpc/AllureGrpcTest.java
  allure-grpc/src/test/proto/api.proto
  allure-grpc/src/test/resources/allure.properties
  build.gradle.kts
  settings.gradle.kts
Labels: type:new feature, theme:build

#727 Fix allure-cucumber7-jvm not compatible with the latest cucumber 7.3.0
  allure-cucumber7-jvm/build.gradle.kts
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/AllureCucumber7Jvm.java
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/testsourcemodel/TestSourcesModel.java
Labels: theme:cucumber-jvm, theme:build

#742 assertJ: handle interface based assertions
  allure-assertj/src/main/java/io/qameta/allure/assertj/AllureAspectJ.java
  allure-assertj/src/test/java/io/qameta/allure/assertj/AllureAspectJTest.java
Labels: type:improvement, theme:assertj
