Repository allure-framework/allure-java, pull requests merged in 2023-06, with the labels that each got.

#930 allure-description-javadoc: mark all java versions as supported
  allure-descriptions-javadoc/src/main/java/io/qameta/allure/description/JavaDocDescriptionsProcessor.java
  allure-descriptions-javadoc/src/test/java/io/qameta/allure/description/ProcessDescriptionsTest.java
Labels: type:improvement, theme:descriptions-javadoc

#920 allure-testng: add property to disable configuration failures logging
  allure-testng/src/main/java/io/qameta/allure/testng/AllureTestNg.java
  allure-testng/src/main/java/io/qameta/allure/testng/config/AllureTestNgConfig.java
  allure-testng/src/test/java/io/qameta/allure/testng/AllureTestNgTest.java
Labels: type:improvement, theme:testng

#921 Add logs for FreemarkerAttachmentRenderer due to uninformative FreeMarker exceptions by default
  allure-attachments/src/main/java/io/qameta/allure/attachment/FreemarkerAttachmentRenderer.java
  allure-attachments/src/main/java/io/qameta/allure/attachment/http/HttpRequestAttachment.java
  allure-attachments/src/main/java/io/qameta/allure/attachment/http/HttpResponseAttachment.java
  allure-attachments/src/test/java/io/qameta/allure/attachment/FreemarkerAttachmentRendererTest.java
  allure-attachments/src/test/java/io/qameta/allure/attachment/NegativeFreemarkerAttachmentRendererTest.java
  allure-attachments/src/test/java/io/qameta/allure/attachment/testdata/TestData.java
  allure-attachments/src/test/resources/tpl/body-npe-non-safe-attachment.ftl
  allure-java-commons/src/main/java/io/qameta/allure/util/ObjectUtils.java
Labels: type:improvement, theme:attachments, theme:core

#931 Add jooq integration
  allure-jooq/build.gradle.kts
  allure-jooq/src/main/java/io/qameta/allure/jooq/AllureJooq.java
  allure-jooq/src/test/java/io/qameta/allure/jooq/AllureJooqTest.java
  allure-jooq/src/test/resources/simplelogger.properties
  settings.gradle.kts
Labels: type:new feature, theme:build
