Repository allure-framework/allure-java, pull requests merged in 2023-08, with the labels that each got.

#937 Introduce adaptor for JBehave 5
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
  allure-jbehave5/build.gradle.kts
  allure-jbehave5/src/main/java/io/qameta/allure/jbehave5/AllureJbehave5.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/AllureJbehave5Test.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/LoggingReporter.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/samples/BrokenStorySteps.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/samples/SimpleStorySteps.java
  allure-jbehave5/src/test/resources/allure.properties
  allure-jbehave5/src/test/resources/simplelogger.properties
  allure-jbehave5/src/test/resources/stories/broken.story
  allure-jbehave5/src/test/resources/stories/comment.story
  allure-jbehave5/src/test/resources/stories/description.story
  allure-jbehave5/src/test/resources/stories/examples.story
  allure-jbehave5/src/test/resources/stories/failed.story
  allure-jbehave5/src/test/resources/stories/given.story
  allure-jbehave5/src/test/resources/stories/long.story
  allure-jbehave5/src/test/resources/stories/multiply.story
  allure-jbehave5/src/test/resources/stories/precondition-a.story
  allure-jbehave5/src/test/resources/stories/precondition-b.story
  allure-jbehave5/src/test/resources/stories/simple.story
  allure-jbehave5/src/test/resources/stories/undefined.story
  settings.gradle.kts
Labels: type:new feature, theme:workflow, theme:build

#943 spock2: add test plan filter support
  allure-spock2/src/main/java/io/qameta/allure/spock2/AllureSpock2.java
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/AllureSpock2Test.java
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/TestsWithIdForFilter.groovy
Labels: type:new feature

#951 Remove spock2 sout capture
  allure-spock2/src/main/java/io/qameta/allure/spock2/AllureSpock2.java
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/AllureSpock2Test.java
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/OneTest.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/SpecFixtures.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/SpecInheritanceSpec.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/StepsAndBlocks.groovy
  allure-spock2/src/test/groovy/io/qameta/allure/spock2/samples/StreamsListener.groovy
Labels: type:improvement
