Repository allure-framework/allure-java, pull requests merged in 2024-08, with the labels that each got.

#1112 chore(build): fix used jdk
  allure-jooq/build.gradle.kts
  build.gradle.kts
Labels: type:bug, theme:build

#1095 Move dependencies to compileOnly to exclude them from classpath
  allure-awaitility/build.gradle.kts
  allure-cucumber4-jvm/build.gradle.kts
  allure-cucumber5-jvm/build.gradle.kts
  allure-cucumber6-jvm/build.gradle.kts
  allure-cucumber7-jvm/build.gradle.kts
  allure-grpc/build.gradle.kts
  allure-hamcrest/build.gradle.kts
  allure-httpclient/build.gradle.kts
  allure-httpclient5/build.gradle.kts
  allure-java-migration/build.gradle.kts
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1Annotations.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1AttachAspects.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1ParametersAspects.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1StepsAspects.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1TestCaseAspects.java
  allure-java-migration/src/main/java/io/qameta/allure/aspects/Allure1Utils.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Attachment.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Description.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Features.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Issue.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Issues.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Parameter.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Severity.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Step.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Stories.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/TestCaseId.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/annotations/Title.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/model/DescriptionType.java
  allure-java-migration/src/main/java/ru/yandex/qatools/allure/model/SeverityLevel.java
  allure-java-migration/src/main/resources/META-INF/aop-ajc.xml
  allure-java-migration/src/test/java/io/qameta/allure/aspects/Allure1AttachAspectsTest.java
  allure-java-migration/src/test/java/io/qameta/allure/aspects/Allure1StepsAspectsTest.java
  allure-java-migration/src/test/java/io/qameta/allure/aspects/Allure1TestCaseAspectsTest.java
  allure-java-migration/src/test/resources/allure.properties
  allure-jax-rs/build.gradle.kts
  allure-jbehave/build.gradle.kts
  allure-jbehave5/build.gradle.kts
  allure-jooq/build.gradle.kts
  allure-jsonunit/build.gradle.kts
  allure-jsonunit/src/main/java/io/qameta/allure/jsonunit/JsonPatchListener.java
  allure-junit4-aspect/build.gradle.kts
  allure-junit4/build.gradle.kts
  allure-junit5-assert/build.gradle.kts
  allure-junit5/build.gradle.kts
  allure-karate/build.gradle.kts
  allure-okhttp/build.gradle.kts
  allure-okhttp3/build.gradle.kts
  allure-rest-assured/build.gradle.kts
  allure-scalatest/build.gradle.kts
  allure-servlet-api/build.gradle.kts
  allure-spock/build.gradle.kts
  allure-spock2/build.gradle.kts
  allure-spring-web/build.gradle.kts
  allure-testng/build.gradle.kts
  build.gradle.kts
  settings.gradle.kts
Labels: theme:junit4, theme:testng, theme:junit-platform, theme:cucumber-jvm, theme:jbehave, theme:spock, type:dependencies, theme:httpclient, theme:jax-rs, theme:jsonunit, theme:karate, theme:okhttp, theme:rest-assured, theme:scalatest, theme:servlet-api, theme:spring, theme:build, theme:hamcrest

#1115 Updated allure-cucumber7-jvm dependencies
  allure-cucumber7-jvm/build.gradle.kts
Labels: theme:cucumber-jvm, type:dependencies, theme:build
