Repository allure-framework/allure-java, pull requests merged in 2024-07, with the labels that each got.

#1065 fix(allure-karate): remove the code that causes the process to hang
  allure-karate/src/main/java/io/qameta/allure/karate/AllureKarate.java
Labels: type:bug, theme:karate

#1060 [allure-jsonunit] Deprecate `AllureConfigurableJsonMatcher` in favor of `ConfigurableJsonMatcher`
  allure-jsonunit/src/main/java/io/qameta/allure/jsonunit/AbstractJsonPatchMatcher.java
  allure-jsonunit/src/main/java/io/qameta/allure/jsonunit/AllureConfigurableJsonMatcher.java
  allure-jsonunit/src/main/java/io/qameta/allure/jsonunit/JsonPatchMatcher.java
Labels: type:improvement, theme:jsonunit

#1090 Build with Java 21
  .github/workflows/build.yml
  .github/workflows/publish.yml
  allure-scalatest/build.gradle.kts
  allure-spock/build.gradle.kts
  allure-spock2/build.gradle.kts
  build.gradle.kts
  settings.gradle.kts
Labels: theme:spock, theme:workflow, type:internal, theme:scalatest, theme:build

#1107 fix(allure-scalatest): cross-build for scala 2.12 and 2.13
  allure-scalatest/build.gradle.kts
  build.gradle.kts
  gradle/quality-configs/spotbugs/exclude.xml
Labels: type:bug, theme:scalatest, theme:build

#1111 fix(scalatest): resolve issues with crossbuild signing
  allure-scalatest/build.gradle.kts
Labels: type:bug, theme:scalatest, theme:build
