Repository allure-framework/allure-java, pull requests merged in 2024-03, with the labels that each got.

#1014 Fix junit 4 aspect
  allure-junit4-aspect/src/main/java/io/qameta/allure/junit4/aspect/AllureJunit4ListenerAspect.java
Labels: type:bug, theme:junit4

#1016 Form params in ftl
  allure-attachments/src/main/java/io/qameta/allure/attachment/http/HttpRequestAttachment.java
  allure-attachments/src/main/resources/tpl/http-request.ftl
  allure-rest-assured/src/main/java/io/qameta/allure/restassured/AllureRestAssured.java
  allure-rest-assured/src/test/java/io/qameta/allure/restassured/AllureRestAssuredTest.java
  build.gradle.kts
Labels: type:new feature, theme:attachments, theme:rest-assured, theme:build

#1011 fix(cucumberjvm): Fix Runtime API
  allure-cucumber4-jvm/src/main/java/io/qameta/allure/cucumber4jvm/AllureCucumber4Jvm.java
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/AllureCucumber4JvmTest.java
  allure-cucumber4-jvm/src/test/java/io/qameta/allure/cucumber4jvm/samples/RuntimeApiSteps.java
  allure-cucumber4-jvm/src/test/resources/features/runtimeapi.feature
  allure-cucumber5-jvm/build.gradle.kts
  allure-cucumber5-jvm/src/main/java/io/qameta/allure/cucumber5jvm/AllureCucumber5Jvm.java
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/AllureCucumber5JvmTest.java
  allure-cucumber5-jvm/src/test/java/io/qameta/allure/cucumber5jvm/samples/RuntimeApiSteps.java
  allure-cucumber5-jvm/src/test/resources/features/runtimeapi.feature
  allure-cucumber6-jvm/src/main/java/io/qameta/allure/cucumber6jvm/AllureCucumber6Jvm.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/AllureCucumber6JvmTest.java
  allure-cucumber6-jvm/src/test/java/io/qameta/allure/cucumber6jvm/samples/RuntimeApiSteps.java
  allure-cucumber6-jvm/src/test/resources/features/runtimeapi.feature
  allure-cucumber7-jvm/src/main/java/io/qameta/allure/cucumber7jvm/AllureCucumber7Jvm.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/AllureCucumber7JvmTest.java
  allure-cucumber7-jvm/src/test/java/io/qameta/allure/cucumber7jvm/samples/RuntimeApiSteps.java
  allure-cucumber7-jvm/src/test/resources/features/runtimeapi.feature
  allure-java-commons-test/src/main/java/io/qameta/allure/test/AllureResults.java
  allure-java-commons-test/src/main/java/io/qameta/allure/test/AllureTestCommonsUtils.java
  allure-java-commons/src/test/java/io/qameta/allure/AllureLifecycleTest.java
Labels: type:bug, theme:cucumber-jvm, theme:core, theme:build

#1019 feat(junit-platform): add annotations from outer classes
  allure-junit-platform/src/main/java/io/qameta/allure/junitplatform/AllureJunitPlatform.java
  allure-junit-platform/src/test/java/io/qameta/allure/junitplatform/AllureJunitPlatformTest.java
  allure-junit-platform/src/test/java/io/qameta/allure/junitplatform/features/NestedTests.java
Labels: type:improvement, theme:junit-platform

#1018 fix(allure-karate): add history id
  allure-karate/src/main/java/io/qameta/allure/karate/AllureKarate.java
  allure-karate/src/test/java/io/qameta/allure/karate/AllureKarateTest.java
Labels: type:improvement, theme:karate

#1007 feat(rest-assured): add support for headers blacklist
  allure-rest-assured/src/main/java/io/qameta/allure/restassured/AllureRestAssured.java
  allure-rest-assured/src/test/java/io/qameta/allure/restassured/AllureRestAssuredTest.java
Labels: type:improvement, theme:rest-assured

#1022 Fix JBehave runtime API
  allure-jbehave5/src/main/java/io/qameta/allure/jbehave5/AllureJbehave5.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/AllureJbehave5Test.java
  allure-jbehave5/src/test/java/io/qameta/allure/jbehave5/samples/RuntimeApiSteps.java
  allure-jbehave5/src/test/resources/stories/runtimeapi.story
Labels: type:bug, theme:jbehave
